.btn-medium {
  color: #999999;
  border: 1px solid #999999;
  padding: 15px 25px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}

.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}

.btn-treehouse {
  color: white;
  padding: 15px 25px;
  border-radius: 4px;
  font-weight: bold;
  background: #6AD58B;
  transition: background 0.3s ease;
}

.btn-treehouse:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.btn-two {
  color: black;
  padding: 15px 25px;
  border-radius: 4px;
  font-weight: bold;
  transition: all 0.5s;
  position: relative;

}

.btn-two span {
  z-index: 2;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.btn-two::before,
.btn-two::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.5s;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.055);
}

.btn-two:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(248, 10, 10, 0.527);
  border: 1px solid rgb(255, 0, 0);
}

.btn-two:hover::after {
  transform: rotate(45deg);
  background-color: rgba(248, 10, 10, 0.527);
  border: 1px solid rgb(255, 0, 0);
}
